/* Home Page Section */

body {
  background: lightblue;
}

h1#home-page-heading {
  color: rgb(179, 114, 114);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
}

h2#home-page-second-heading {
  color: rgb(113, 132, 151);
  font-family: fantasy;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

nav {
  text-align: center;
  padding-top: 30px;
}

nav a {
  color: lightslategray;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline;
  padding-right: 100px;
  padding-left: 100px;
  font-size: small;
}

img#home-page-graphic {
  padding-left:550px;
  padding-top: 30px;
  height: 250px;
}

img#flower-decoration-one-home-page {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-two-home-page {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-three-home-page {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-four-home-page {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

/* About Me section */

h1#about-me-heading {
  color: rgb(179, 114, 114);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
}

p.about-me-content {
  color: lightslategrey;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 15px;
  padding-top: 10px;
}

img#click-here-pic-first-question,
img#click-here-pic-second-question, img#click-here-pic-third-question {
  height: 60px;
  padding-left: 50px;
  padding-top: 10px;
}

img#hobbies-about-me {
  height: 230px;
  float: right;
  clear: both;
  padding-right: 100px;
  padding-top: 100px;
  display: inline;
}

img#flower-decoration-one-about-me {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-two-about-me {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-three-about-me {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-four-about-me {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

/* Pictures section */

h1#pictures-heading {
  color: rgb(179, 114, 114);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
}

p#pictures-content {
  color: lightslategrey;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
}

img#pictures-content-first-picture, img#pictures-content-second-picture, img#pictures-content-third-picture, img#pictures-content-fourth-picture, img#pictures-content-fifth-picture, img#pictures-content-sixth-picture, img#pictures-content-seventh-picture, img#pictures-content-eighth-picture, img#pictures-content-ninth-picture, img#pictures-content-tenth-picture {
  height: 200px;
  border: 2px solid black;
}

img#flower-decoration-one-pictures {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-two-pictures {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-three-pictures {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-four-pictures {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

/* Contact section */

table#table-contact-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table#table-contact-content, td, th {
  color: lightslategrey;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid black;
  font-weight: bold;
  font-size: 15px;
}

h1#contact-heading {
  color:rgb(179, 114, 114);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
}


img#flower-decoration-one-contact {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-two-contact {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-three-contact {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-four-contact {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#personal-image {
  position: absolute;
  display: block;
}

img#computer-image {
  position: absolute;
  display: block;
  height: 100px;
  padding-top: 150px;
  left: 290px;
}

p#contact-content-explanation {
  color: lightslategray;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 70px;
  height: 50px;
  left: 10px;
  font-weight: bolder;
}

img#click-here-button {
  position: absolute;
  width: 100px;
  left: 470px;
  top: 320px;
}

/* Experience section */

h1#experience-heading {
  color: rgb(179, 114, 114);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 35px;
}

img#flower-decoration-one-experience {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-two-experience {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-three-experience {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

img#flower-decoration-four-experience {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
}

div#first-box {
  border: 3px solid rgb(179, 114, 114);;
  height: 250px;
  width: 250px;
  text-align: center;
  color: lightslategray;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 90px;
  top: 100px;
}

div#second-box {
  border: 3px solid rgb(179, 114, 114);;
  height: 250px;
  width: 250px;
  text-align: center;
  color: lightslategray;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 800px;
  top: 100px;
}

div#third-box {
  border: 3px solid rgb(179, 114, 114);;
  height: 250px;
  width: 250px;
  text-align: center;
  color: lightslategray;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 60px;
  left: 900px;
}

div#fourth-box {
  border: 3px solid rgb(179, 114, 114);
  height: 250px;
  width: 250px;
  text-align: center;
  color: lightslategray;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 200px;
  bottom: 60px;
}

div img#first-arrow {
 position: absolute;
 width: 100px;
 left: 450px;
 top: 170px;
 border: 3px solid rgb(179, 114, 114);
}

div img#second-arrow {
  position: absolute;
  width: 100px;
  top: 180px;
  left: 1170px;
  transform: rotate(105deg);
  border: 3px solid rgb(179, 114, 114);
}

div img#third-arrow {
  position: absolute;
  width: 100px;
  bottom: 110px;
  transform: rotate(180deg);
  right: 650px;
  border: 3px solid rgb(179, 114, 114);
}


